/* RuÄno dodajte 3D transformacije */
.perspective {
    perspective: 1000px;
}

.transform-style-preserve-3d {
    transform-style: preserve-3d;
}

.backface-hidden {
    backface-visibility: hidden;
}

/* Rotate Y 180 degrees */
.rotate-y-180 {
    transform: rotateY(-180deg);
}
